.container {
  max-width: 1400px;
}

.navbar-survival101 {
  background: linear-gradient(120deg, #2D3142 55%, #E8B363 55%);
}

.navbar-survival101 .navbar-brand {
  margin-right: 5.15rem;
  padding: 3px 0 0 0;
  line-height: 36px;
}

/*.navbar-survival101 {
  vertical-align: baseline;
}*/

/*.navbar-expand-lg .navbar-nav .nav-link {
  color: #fff;
}*/
.logo-U {
  color: #E8B363;
}
.input-search-box {
  background-color: #2D3142;
}

.nav-item {
  margin-right: 5%;
}

::placeholder {
  color: #E8B363;
}

.search-box {
  position: relative;
  height: 34px;

}

.search-box input {
  border: 0;
  border-radius: 15px;
  padding-right: 28px;
  font-size: 15px;
  text-indent: 12px;

}

.search-box .input-group-btn {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
}

.search-box .input-group-btn button {
  background-color: transparent;
  border: 0;
  padding: 4px 10px;
  color: #E8B363;
  font-size: 18px;
}

.search-box .input-group-btn button:hover,
.search-box .input-group-btn button:active,
.search-box .input-group-btn button:focus {
  color: #f7902f;
}

@media (max-width: 767px) {
  .website-logo {
    font-size: 30px;
    padding: 1px 0 0 0;
  }
  .navbar-survival101 {
    background: linear-gradient(120deg, #2D3142 60%, #E8B363 60%);
  }
  .nav-item {
    margin: 0;
  }
  .input-search-box {
    background-color: #E8B363;
    margin-top: 5px;
  }
  .search-box .input-group-btn button {
    color: #2D3142;
    margin-top: 3px;

  }
  .search-box .input-group-btn button:hover,
  .search-box .input-group-btn button:active,
  .search-box .input-group-btn button:focus {
    color: #000;
  }
  ::placeholder {
    color: #2D3142;
  }
  .search-box .input-group-btn {
    position: absolute;
    left: 168px;
    top: 0;
    z-index: 999;
  }
}
